body {
    background:
        repeating-linear-gradient(190deg, rgba(42, 42, 42, 0.5) 40px,
            rgba(0, 0, 0, 0.5) 80px, rgba(31, 31, 31, 0.5) 120px,
            rgba(35, 35, 35, 0.5) 160px, rgba(43, 43, 43, 0.5) 200px,
            rgba(33, 33, 33, 0.5) 240px, rgba(38, 38, 38, 0.5) 280px,
            rgba(39, 39, 39, 0.5) 300px),
        repeating-linear-gradient(-190deg, rgba(48, 48, 48, 0.5) 100px,
            rgb(255, 195, 66) 60px, rgba(27, 27, 27, 0.5) 100px,
            rgba(0, 0, 0, 0.5) 150px, rgba(24, 24, 24, 0.5) 150px,
            rgb(227, 178, 56) 180px, rgba(0, 0, 0, 0.5) 210px,
            rgba(0, 0, 0, 0.5) 180px),
        repeating-linear-gradient(23deg, rgb(43, 43, 43) 50px, rgb(51, 51, 51) 100px,
            rgb(51, 51, 51) 150px, rgb(48, 48, 48) 200px, rgb(53, 53, 53) 250px,
            rgb(59, 59, 59) 300px, rgb(78, 78, 78) 350px, rgb(54, 54, 54) 370px);



}



.Titlediv {
    width: 100%;
    border-radius: 5px;
    margin: left;
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(rgba(226, 164, 31, 0.5), rgb(14, 14, 14));
    transition: 3s;
    color: rgb(151, 151, 151);
    font-size: larger;
    line-height: 1.4;
}

.sketchfab-embed-wrapper {
    display: block;
    position: absolute;
    bottom: -17;
    right: 2;
}

.Bottomright {
    display: block;
    position: absolute;
    bottom: -740;
    right: 20;
    width: 1893px;
    height: 900px;
    background-color: rgb(15, 15, 15);

}

.NewsTextMain {
    display: flex;
    align-items: stretch;
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45;
}

.MainMeat {

    border: 100px;
    border-color: rgb(37, 37, 37);
    position: absolute;
    bottom: 200;
    right: 20;
}

.Test0 {
    display: flex;
    align-items: flex-end;
}



.sidebarnews {
    width: 300px;
    height: 800px;
    margin: left;
    background-color: rgb(15, 15, 15);

}

.ThreeDee {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: left;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(201, 146, 26, 0.6) 30%, rgba(201, 146, 26, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    color: rgb(199, 199, 199);
    background-clip: text;
    width: 100%;
    transition: 0.5s;
    font-size: 20px;
}

.dropdown {
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: left;
    background-clip: text;
    width: 150px;
    transition: 0.5s;
    font-size: 20px;

}

.ThreeDeeModelButton {
    display: inline-block;
    position: relative;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    margin: left;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(201, 146, 26, 0.6) 30%, rgba(201, 146, 26, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
    background-clip: text;
    width: 100%;
    transition: 0.5s;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);

    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(69, 69, 69) 30%, rgb(69, 69, 69) 70%, rgba(0, 0, 0, 1) 100%);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    display: block;
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 184, 30, 0.6) 30%, rgba(255, 185, 34, 0.6) 70%, rgba(0, 0, 0, 1) 100%);
}

.ModelInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: left;
    color: rgb(199, 199, 199);
    background-clip: text;
    width: 100%;
    transition: 0.5s;
    font-size: 25px;
}

.ActualInfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: left;
    color: rgb(199, 199, 199);
    background-clip: text;
    width: 100%;
    transition: 0.5s;
    font-size: 15px;
}

.Phone {
    display: flex;
    align-items: flex-end;
}

.Subtitle {
    font-size: 14px;
    color: rgb(0, 115, 255);
    letter-spacing: .05rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}





.button1,
.button1:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    width: 300px;
    height: 30px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    color: white;
    border: none;

    background-image: url("https://assets.codepen.io/3305358/hazard-stripes-wallpaper.jpg");
    background-size: 150%;
    background-position: left;
    transition: 1s;
}

.button1:before {
    width: 300px;
    height: 30px;
    content: 'Home Page';
    background: rgba(0, 0, 0, 0.6);

    position: absolute;
    transition: 500ms;
}

.button1:hover:before {
    background: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 1px black;
}

.button1:hover {
    background-position: center;
    box-shadow: 0px 0px 10px rgba(232, 218, 26, 0.5);
}

.button1:focus {
    outline: none;
}